In [1]:
import numpy as np
import pandas as pd
import Linear_Regression as LR
import matplotlib.pyplot as plt

In [2]:
a_none = np.array(None)
data = pd.read_csv('data.csv')

print(data['price'].describe())
muito_abaixo = data['price'].describe().loc['25%']
abaixo = data['price'].describe().loc['50%']
acima = data['price'].describe().loc['75%']

count       893.000000
mean      79907.409854
std       60880.043823
min        9999.000000
25%       44500.000000
50%       61990.000000
75%       90990.000000
max      450039.000000
Name: price, dtype: float64

In [5]:
# Ajeitando o data set, transformando a variável dependente de continua para discreta
data['preco']=pd.cut(x=data['price'], bins=[0,muito_abaixo,abaixo,acima,np.inf], 
                        labels=["muito_abaixo", "abaixo", "acima","muito_acima"])

l_data = pd.cut(x=data['price'], bins=[0,abaixo,np.inf], 
                        labels=[0, 1])
data = data.drop(['price', 'Unnamed: 0.1',	'Unnamed: 0'], axis=1)
data_c = data[0:500].select_dtypes(include='number')
# Adicionando a primeira coluna com 1 para ser usada como constante
data_c.insert(0, 'constant', [1]*500)
# Ortogonalizando os dados
data_ort = LR.gram_schmidt(data_c)
data_ort['preco'] = data['preco']

In [6]:
# Eliminando as categorias adicionando colunas para representa-las
def one_hot_encode(data_set, column):
    data_set = pd.DataFrame(data_set)
    one_hot = pd.DataFrame(0, index=range(data_set.shape[0]), columns=data_set[column].unique())
    count=0
    for i in data_set[column]:
        one_hot.loc[count, i] = 1
        count+=1
    return pd.concat([data_set.drop(column, axis=1), one_hot], axis=1)

In [7]:
data_class = data_ort.copy()
data_ort = one_hot_encode(data_ort, 'preco')
data_ort

,constant,spec_rating,display_size,resolution_width,resolution_height,warranty,abaixo,muito_abaixo,acima,muito_acima
0,1,4.222706,0.242761,-211.589158,-64.808018,-0.067473,1,0,0,0
1,1,-8.777294,0.773877,98.434168,10.318448,0.004980,0,1,0,0
2,1,0.546235,-1.207036,-149.409749,-114.608444,-0.046807,0,1,0,0
3,1,-2.777294,-1.071253,249.849608,43.403431,-0.018707,1,0,0,0
4,1,0.546235,-1.907036,479.435370,11.919339,-0.033314,0,0,1,0
...,...,...,...,...,...,...,...,...,...,...
495,1,0.546235,0.392964,-123.912878,-43.561846,-0.046983,1,0,0,0
496,1,0.546235,-1.207036,-149.409749,-114.608444,-0.046807,1,0,0,0
497,1,0.546235,0.392964,-123.912878,-43.561846,-0.046983,0,1,0,0
498,1,-5.777294,-0.948688,241.393452,146.038974,0.001357,1,0,0,0
499,1,3.222706,-2.016384,-1064.392962,1154.477451,-0.006456,0,0,0,1